body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.btn-modern{
    height: 30px;
    background-color: rgb(255, 144, 144);
    border: none;
    border-radius: 5px;
    color: white;
    border-bottom: 2px solid salmon;
    cursor: pointer;
    transition: box-shadow 0.4s, transform 0.4s;
}

.btn-modern:hover {
    background-color:  rgb(248, 102, 86);
    color: rgb(233, 230, 230);
    opacity: 0.6;
    transform: translateY(-5px);
    box-shadow: 0px 0px 5px 1px black;
}